div#console
    div.close-btn(onclick="flec.hideConsole()")
        i.flecicon.flec-close-fill
    if theme.console_plus
        div.console-card-group
            if theme.console_plus && theme.comment.newest_comment.enable
                div.console-card-group-left
                    div.console-card#card-newest-comments(onclick="flec.hideConsole()")
                        div.card-content
                            div.author-content-item-tips= _p('console.comment_tip')
                            div.author-content-item-title
                                | #{_p('console.comment_title')}
                                if theme.recent_comments.enable && theme.recent_comments.console
                                    a.recent-comment-more(href=url_for(theme.recent_comments.page) title=_p('console.recent_comment_more'))
                                        i.flecicon.flec-right-btn-fill
                        div.aside-list

            div.console-card-group-right
                div.console-card.tags(onclick="flec.hideConsole()")
                    div.card-content
                        div.author-content-item-tips= _p('console.tag_tip')
                        div.author-content-item-title= _p('console.tag_title')
                    div.card-tag-cloud
                        each tag in site.tags.find({ parent: { $exists: false } }).data
                            a(href=url_for(tag.path))= tag.name
                                sup= tag.length

                div.console-card.history(onclick="flec.hideConsole()")
                    include ./widgets/aside/asideArchive.pug

    div.button-group
        div.console-btn-item
            span.darkmode_switchbutton(onclick="flec.switchDarkMode()", title=_p('console.switch_darkmode'))
                i.flecicon.flec-moon-clear-fill
        div.console-btn-item#consoleHideAside
            span.asideSwitch(onclick="flec.switchHideAside()", title=_p('console.switch_hideAside'))
                i.flecicon.flec-side-bar-fill
        if theme.keyboard.enable
            div.console-btn-item#consoleKeyboard(onclick="flec.switchKeyboard()")
                span.keyboardSwitch(title=_p('console.switch_keyboard'))
                    i.flecicon.flec-keyboard-box-fill
    div.console-mask(onclick="flec.hideConsole()")