nav#nav.show
    #nav-group
        #blog_name
            if theme.nav.group
                .back-home-button(tabindex="-1")
                    i.back-home-button-icon.flecicon.flec-apps-fill
                    include ./widgets/nav/group
            a#site-name(href=url_for("/"), title=_p('nav.site_name_title'))
                if theme.nav.logo.class === 'i_class'
                    i.flecicon(class=theme.nav.logo.custom, style="font-size: 16px;")
                else if theme.nav.logo.class === 'img'
                    img(src=theme.nav.logo.custom, alt=config.title)
                else if theme.nav.logo.class === 'text'
                    span.title= theme.nav.logo.custom
        #page-name-mask
            #page-name
                a#page-name-text(onclick="flec.toTop()")= title || config.title
        #menus
            include ./widgets/nav/menu.pug
        #nav-left
        #nav-right
            include ./widgets/nav/button.pug